.pixel-painter .canvas {
  position: relative;
}

.pixel-painter .canvas > .background-canvas {
  position: absolute;
}

.pixel-painter .canvas > .draw-canvas {
  position: absolute;
  background: transparent;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}
